.publicationPage {
    margin: 40px auto;
    max-width: 800px;
    background: var(--color--1);
    border-radius: 20px;
  }

.publicationPageContainer {
    padding: 20px;
}
  
  .section {
    margin-bottom: 20px;
  }
  
  .titulo {
    font-size: 2em;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .paragrafo {
    font-size: large;
    line-height: 1.4;
    text-align: justify;
    margin-left: 10px;
  }
  
  .videoSection iframe {
    width: 100%;
    height: 315px;
    margin-left: 10px;
  }
  
  .linkSection a {
    font-size: 1.2em;
    color: var(--color-link);
    text-decoration: none;
    margin-left: 10px;
    
  }
  
  .linkSection a:hover {
    text-decoration: underline;
  }
  
  .imageSection img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-left: 10px;
  }

  .actions {
    display: flex;
    gap: 10px;
  }
  
  .buttons{
    background: var(--color-rgb);
    border: 1px solid var(--color--6);
    width: 100px;
    height: 35px;
    padding: 10px;
    border-radius: 20px;
    color: var(--color--6);
    cursor: pointer;
  }

  .buttons:hover{
    background: var(--color-link);
  }

  .buttonRemove{
    background: red;
    border: 1px solid var(--color--6);
    width: 100px;
    height: 35px;
    padding: 10px;
    border-radius: 20px;
    color: var(--color--6);
    cursor: pointer;
  }

  .buttonRemove:hover{
    background: rgb(241, 126, 126);
  }

  .coverImage {
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }

  .user{
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
