.reset {
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reset p {
    color: var(--color--6);
}

.reset button {
    width: 100%;
    color: var(--color--6);
    border: 1px solid var(--color--6);
    background: var(--color-rgb);
    padding: 10px;
    border-radius: 20px;
    transition: border-bottom 0.5s;
    cursor: pointer;
}

.reset button:hover {
    border-bottom: 5px solid var(--color--6);
}

.form {
    border: 1px solid var(--color--6);
    border-bottom: 5px solid var(--color--6);
    border-radius: 20px;
    padding: 20px;

}
